body
{
  color: white;
  background: #c0d3ff;
}
.heading{
 border-radius : 40px;
 letter-spacing : 10px;
 font-size : 37.5px;
}
span
{
  font-size: 30px;
}
label{
 font-size : 15px;
 color : lemonchiffon;
 background-color : lightcoral;
 border-radius : 80px;
 padding : 5px;
}
#camera , #result
{
  border: 2px dashed black;
  width: 350px;
  height: 300px; 
}
#result_emotion_name ,#result_emotion_name2  
{
  color: black;
}
.emotion_name
{
  font-size: 40px;
}
.emoji
{
  font-size:48px;
}
